@font-face {
    font-family: Impact;
    src: url(fonts/impact.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#intro {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#intro h1 {
    font-size: 25vw;
    z-index: 1;
}

#intro .scared {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    animation-name: moveAround;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAround {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 200px);
    }

    50% {
        top: calc(100vh - 112.359px);
        left: calc(100% - 200px);
    }
    
    75% {
        top: calc(100vh - 112.359px);
        left: 0;
    }
}

.spongebob {
    position: absolute;
    top: -50px;
    height: 50px;
    animation-name: fall;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    z-index: 1;
}

@keyframes fall {
    0% {
        top: 0;
    }

    100% {
        top: 100%;
    }
}

.forever-alone {
    bottom: 0;
    left: 0;
    height: 300px;
    z-index: 1;
    position: absolute;
    animation-timing-function: linear;
    animation-name: backAndForth;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes backAndForth {
    0% {
        left: -300px;
    }

    100% {
        left: 100%;
    }
}
